.font-9{
    font-size: 9px;
}

.font-10{
    font-size: 10px;
}

.font-11{
    font-size: 11px;
}

.font-12{
    font-size: 12px;
}

.font-13{
    font-size: 13px;
}

.font-15{
    font-size: 15px;
}

.font-18{
    font-size: 18px;
}

.font-20{
    font-size: 20px;
}

.font-23{
    font-size: 23px;
}

.font-30{
    font-size: 30px;
}

.font-35{
    font-size: 35px;
}

.table td, .table th{
    color: black;
    white-space: normal !important;
}

#circleDanger {
    background: #ef5350;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

#circleWarning{
    background: #ffb22b;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

#circleSuccess{
    background: #198754;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

#tableNominal, #tableNominalNoCumple{
    height: 400px;
    overflow: auto;
}

#tableNominal thead tr th {
    position: sticky;
    top: -1px;
    z-index: 10;
    background: #CBD5F5 !important;
    color: black;
}

#tableResum{
    height: 223px;
    overflow: auto;
}

#tableResum thead tr th {
    position: sticky;
    top: -1px;
    z-index: 10;
    background: #d1d7f4 !important;
    color: #000;
}

#tableSearch{
    height: 400px;
    overflow: auto;
}

#tableSearch thead tr th {
    position: sticky;
    top: -1px;
    z-index: 10;
    background: #405467 !important;
    color: #fff;
}

.notes::before, .notes2::before {
    content:"";
    background: #ff8c00 radial-gradient(at 8px 8px, rgba(255,255,255,0), rgba(0,0,0,0.5));
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: calc(50% - 12px);
    box-shadow: 4px 4px 3px rgba(0,0,0,0.5);
}

.select2-results__option[aria-selected]{
    font-size: 11px !important;
    color: #5E5E5E;
}

.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple{
    min-height: 28px !important;
    border: 1px solid #7e7d7d !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 18px !important;
    font-size: 12px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b{
    margin-top: -6px !important;
}

.select2-search--dropdown .select2-search__field{
    padding: 0 4px !important;
}

.select2-container--default .select2-results>.select2-results__options{
    font-size: 12px !important;
}

.card-stats{
    border-radius: 0px;
    margin-top: 40px;
}

.card .card-icon, .card .card-text{
    border-radius: 3px;
    background-color: #999;
    padding: 10px;
    margin-top: -40px;
    margin-right: 15px;
    float: left;
    text-align: right;
}

.card-stats .card-header-icon i{
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
    text-align: center;
    color: white;
}

#sello_pn thead tr th {
    position: sticky;
    top: -1px;
    z-index: 10;
    background: #f6f6fb !important;
}

#sello_pn {
    height: 320px;
    overflow: auto;
}

.bg-gradient-rose{
    background: linear-gradient(60deg,#ec407a,#d81b60);
}

.bg-gradient-purple{
    background: linear-gradient(60deg, #a57ee0, #603a80);
}