{% extends "base.html" %}
{% load static  %}

{% block title %}
    Dashboard
{% endblock title %}

{% block styles %}

{% endblock styles %}

{% block content %}

<div class="card mb-4">
    <div class="card-header pb-0 p-3">
        <h6 class="mb-1">Indicadores</h6>
    </div>
    <div class="card-body p-3">
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                <div class="card card-blog card-plain">
                    <div class="position-relative">
                        <a class="d-block shadow-xl border-radius-xl">
                            <img src="{% static 'img/kids.png' %}" style="height: 197px; width: 100%;" alt="img-blur-shadow" class="img-fluid shadow border-radius-xl">
                        </a>
                    </div>
                    <div class="card-body px-1 pb-0">
                        <a href="javascript:;" class="text-center"><h5>Indicadores Fed</h5></a>
                        <div class="accordion-1">
                            <div class="container p-0">
                              <div class="row">
                                <div class="col-md-12 mx-auto">
                                  <div class="accordion" id="accordionRental">
                                    <div class="accordion-item mb-3">
                                      <h5 class="accordion-header" id="headingOne">
                                        <button class="accordion-button border-bottom font-weight-bold collapsed p-1 font-13" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            Niños
                                            <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                            <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                        </button>
                                      </h5>
                                      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionRental" style="">
                                        <div class="accordion-body text-sm opacity-8">
                                            <ul class="list-group">
                                                <li class="list-group-item font-13"><a href="{% url 'fed2425:mc03' %}">MC-03: Paquete Recién Nacido</a></li>
                                                <li class="list-group-item font-13"><a href="{% url 'fed2425:si0201' %}">SI-02.01: Niños prematuros y 4M</a></li>
                                                <li class="list-group-item font-13"><a href="{% url 'fed2425:si0202' %}">SI-02.02: Niños 6m con Anemia</a></li>
                                                <li class="list-group-item font-13"><a href="{% url 'fed2425:si0203' %}">SI-02.03: Niños 6m sin Anemia</a></li>
                                            </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="accordion-item mb-3">
                                      <h5 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button border-bottom font-weight-bold p-1 font-13" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          How can i make the payment?
                                          <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                          <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                        </button>
                                      </h5>
                                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionRental">
                                        <div class="accordion-body text-sm opacity-8">
                                          It really matters and then like it really doesn’t matter. What matters is the people who are sparked by it. And the people who are like offended by it, it doesn’t matter. Because it's about motivating the doers. Because I’m here to follow my dreams and inspire other people to follow their dreams, too.
                                          <br>
                                          We’re not always in the position that we want to be at. We’re constantly growing. We’re constantly making mistakes. We’re constantly trying to express ourselves and actualize our dreams. If you have the opportunity to play this game of life you need to appreciate every moment. A lot of people don’t appreciate the moment until it’s passed.
                                        </div>
                                      </div>
                                    </div>
                                    <div class="accordion-item mb-3">
                                      <h5 class="accordion-header" id="headingThree">
                                        <button class="accordion-button border-bottom font-weight-bold font-13 p-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                          How much time does it take to receive the order?
                                          <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                          <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                        </button>
                                      </h5>
                                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionRental">
                                        <div class="accordion-body text-sm opacity-8">
                                          The time is now for it to be okay to be great. People in this world shun people for being great. For being a bright color. For standing out. But the time is now to be okay to be the greatest you. Would you believe in what you believe in, if you were the only one who believed it?
                                          If everything I did failed - which it doesn't, it actually succeeds - just the fact that I'm willing to fail is an inspiration. People are so scared to lose that they don't even try. Like, one thing people can't say is that I'm not trying, and I'm not trying my hardest, and I'm not trying to do the best way I know how.
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                <div class="card card-blog card-plain">
                    <div class="position-relative">
                        <a class="d-block shadow-xl border-radius-xl">
                            <img src="{% static 'img/adolescente1.png' %}" alt="img adoles." class="p-2 img-fluid shadow border-radius-xl" style="background: #EDE4B2; width: 100%;">
                        </a>
                    </div>
                    <div class="card-body px-1 pb-0">
                        <a href="javascript:;" class="text-center"><h5>Fed- Ind. Adolescentes</h5></a>
                        <ul class="list-group">
                            <li class="list-group-item font-13"><a href="{% url 'fed2425:si0401' %}">SI-04: Adolescentes con dosaje de hemoglobina</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                <div class="card card-blog card-plain">
                    <div class="position-relative">
                        <a class="d-block shadow-xl border-radius-xl">
                            <img src="{% static 'img/images00.jpg' %}" alt="img-blur-shadow" class="img-fluid shadow border-radius-xl" style="width: 100%;">
                        </a>
                    </div>
                    <div class="card-body px-1 pb-0">
                        <a href="javascript:;" class="text-center"><h5>Fed- Ind. Gestantes</h5></a>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-action font-13"><a href="{% url 'fed2425:si01' %}">SI-01: Gestantes con Dx Anemia</a></li>
                            <li class="list-group-item list-group-item-action font-13"><a href="{% url 'fed2425:vi0101' %}">VI-01.01: Gestantes con aplicación ficha dx violencia</a></li>
                            <li class="list-group-item list-group-item-action font-13"><a href="{% url 'fed2425:vi0102' %}">VI-01.02: Gestantes con tmz positivo violencia</a></li>
                            <li class="list-group-item list-group-item-action font-13"><a href="{% url 'fed2425:vii0101' %}">VII-01: Gestantes que reciben paquete min. de intervenciones</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}

<!-- <script src="{% static 'js/vue/si-02_01.js' %}"></script>
<script src="{% static 'js/js/si-02_01.js' %}"></script> -->

{% endblock scripts %}